/**
 * @file
 * Styles for MVPCreator Marketing widgets.
 */

/**
 * "Call to action" widget.
 */

.pane-bundle-mvpcreator-marketing-cta {
  max-width: 640px;
}

.pane-bundle-mvpcreator-marketing-cta > .pane-title {
  font-size: 2em;
}

.pane-bundle-mvpcreator-marketing-cta .field-name-field-mvpcreator-marketing-text {
  font-size: 1.2em;
}

a.mvpcreator-marketing-cta-btn {
  display: inline-block;
  color: inherit;
  padding: 6px 12px;
  border: 1px solid #ccc;
}

.pane-bundle-mvpcreator-marketing-cta .field-name-field-mvpcreator-marketing-btn,
.pane-bundle-mvpcreator-marketing-cta .field-name-field-mvpcreator-marketing-btn div,
.pane-bundle-mvpcreator-marketing-cta .field-name-field-mvpcreator-marketing-link,
.pane-bundle-mvpcreator-marketing-cta .field-name-field-mvpcreator-marketing-link div {
  display: inline;
}

.pane-bundle-mvpcreator-marketing-cta .field-name-field-mvpcreator-marketing-link {
  margin-left: 15px;
}

/**
 * Testimonial widget.
 */

.pane-bundle-mvpcreator-marketing-testimonial .field-name-field-mvpcreator-marketing-text {
  background-color: #ccc;
  padding: 10px;
  margin-bottom: 10px;
}
.pane-bundle-mvpcreator-marketing-testimonial .field-name-field-mvpcreator-marketing-text p:last-child {
  margin-bottom: 0;
}

.pane-bundle-mvpcreator-marketing-testimonial .field-name-field-mvpcreator-marketing-image {
  float: left;
  margin-right: 10px;
}

.pane-bundle-mvpcreator-marketing-testimonial .field-name-field-mvpcreator-marketing-name {
  font-weight: bold;
}

.pane-bundle-mvpcreator-marketing-testimonial .field-name-field-mvpcreator-marketing-title {
  color: #666;
}

